# Python
__pycache__/
*.py[cod]
*.pyo
venv/
.venv/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
dist/
build/

# Uploaded documents
backend/storage/